<section>
    <h4>{{ title }}</h4>
    <div class="tag-wrapper-footer">
        {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}" class="tag" title="{{ tag.name }} ({{ tag.articles.count }})">{{ tag.name }}</a>
        {% endfor %}
        <a href="{% url 'tags' %}" style="background: none;">see all</a>
    </div>
</section>