<section>
    <h4>{{ title }}</h4>
    <ul class="footerPosts">
        {% for article_count, author in authors %}
            <li><a href="{{ author.get_absolute_url }}">{{ author.get_full_name }} (articles {{ article_count }})</a></li>
        {% endfor %}
    </ul>
</section>