<aside class="widget clearfix sidebar">
    <h5 class="short_headline"><span>{{ sidebar_name }}</span></h5>
    <ul>
        {% for article in articles %}
            <li class="article-sidebar">
                <h3><a href="{{ article.get_absolute_url }}">
                    <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                    {{ article.title }}
                </a></h3>
            </li>
        {% empty %}
            Sorry, there is no articles
        {% endfor %}
    </ul>
</aside>