{% extends 'base/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block page_title %}Sign in{% endblock %}

{% block css %}
    <link href="{% static 'apps/authentication/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="login-box clearfix">
        <header>
            <h2 class="short_headline"><span>Login to your account...</span></h2>
        </header>

        <div>

            {% if message_error %}
                <div class="alert alert-danger">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <strong>Error!</strong> {{ message_error }}
                </div>
            {% endif %}

            <form class="form-signin" action="{% url 'login' %}?next={{ next }}" method="post">
                {% csrf_token %}

                {% render_field form.username class="form-control" placeholder='Username' %}
                {% render_field form.password class="form-control" placeholder='Password' %}

                <input class="btn btn-lg btn-primary btn-block btn-my" type="submit" value="Log in">

                <footer>
                    <a href="#">Forgot Password? </a>
                    <a href="{% url 'users:create_user' %}">Not a member? Join today!</a>
                </footer>
            </form>

        </div>
    </div>
{% endblock %}
