{% extends 'apps/articles/articles_base.html' %}

{% load static %}
{% load articles_extras %}
{% load sidebar_extras %}

{% block page_title %}{{ article.title }} | News{% endblock %}

{% block css %}
    <link href="{% static 'apps/gallery/css/blueimp-gallery.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/articles/css/full_article.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <input type="hidden" id="article_id" value="{{ article.id }}">
    <input type="hidden" id="is_user_authenticated" value="{{ user.is_authenticated }}">
    {% csrf_token %}
    <article>
        <header>
            <h1>
                {{ article.title }}
                {% if user.is_authenticated %}
                    {% if article.author == user %}
                        <a class="edit_article" href="{% url 'articles:edit_article' %}?id={{ article.pk }}">&nbsp;&#x2012;&nbsp;
                            <i class="fa fa-edit"></i>edit article</a>
                    {% else %}

                    {% endif %}
                {% endif %}
            </h1>

            <div class="article-info">
                <a href="{{ article.author.get_absolute_url }}"><i class="fa fa-pencil"></i>
                    {{ article.author.get_full_name }}&nbsp;&nbsp;
                </a>

                <i class="fa fa-clock-o"></i>
                <abbr title="{{ article.pub_date }}">
                    {{ article.pub_date }}
                </abbr>&nbsp;&nbsp;

                <a href="#comments"><i class="fa fa-comments-o"></i>
                    {{ comments|length }}&nbsp;comments
                </a>
            </div>
            <div class="article-info">
                <a href="{{ article.category.get_absolute_url }}"><i class="fa fa-tag"></i>&nbsp;
                    {{ article.category.name }}
                </a>
            </div>
        </header>

        <div class="content">
            {% autoescape off %}
                {{ article.full_text }}
            {% endautoescape %}
        </div>


        <div id="links">
            {% for image in article.images.all %}
                <a href="{{ image.image_source.url }}" title="{{ image.description }}">
                    <img src="{{ image.admin_thumbnail.url }}" alt="{{ image.title }}">
                </a>
            {% endfor %}
        </div>

        <div class="entry-meta">
            <div class="action-rating">
                <i id="article_like_button"
                   class="fa fa-thumbs-o-up like {% if user in article.users_liked.all %}choice{% endif %}"
                   onclick="set_article_rating('like')"></i>

                {% with article.rating as rating %}
                    <span id="article_rating"
                          class="{% if user in article.users_liked.all %}top{% elif user in article.users_disliked.all %}low{% endif %}"
                          title="Rating">
                      {% if rating > 0 %}+{% endif %}{{ rating }}
                      </span>
                {% endwith %}

                <i id="article_dislike_button"
                   class="fa fa-thumbs-o-down dislike {% if user in article.users_disliked.all %}choice{% endif %}"
                   onclick="set_article_rating('dislike')"></i>
                <span id="article_rating_message" class="comment-rating-message">
                    You are not authorized.
                    <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to rate comments
                </span>
            </div>

            <div class="line-item">
                <i class="fa fa-eye"></i>&nbsp;{{ article.views }}
            </div>

            <div class="line-item">
                <span>Share this article</span>

                <span class="share-button yashare-auto-init" data-yashareL10n="ru"
                      data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter">
                </span>
            </div>

            {% if user.is_authenticated %}
                <div class="line-item">
                    <span style="margin-right: 5px;">Subscrite for author</span>

                    {% if article.author.pk in user.profile.sub_set %}
                        <span class="pull-right" id="subscribe" style="display: none;">
                                <button class="btn btn-default btn-success" type="submit"
                                        style="height: 2em; padding: 1px 1px; margin: 0;"
                                        onclick="subscribe({{ user.pk }}, 'subscribe')">Subscribe <span
                                        class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        <span class="pull-right" id="unsubscribe">
                                <button class="btn btn-default btn-danger" type="submit"
                                        style="height: 2em; padding: 1px 1px; margin: 0;"
                                        onclick="subscribe({{ user.pk }}, 'unsubscribe')">
                                    <span class="glyphicon glyphicon-minus"></span> Cancel subscription
                                </button>
                            </span>
                    {% else %}
                        <span class="pull-right" id="subscribe">
                            <button class="btn btn-default btn-success" type="submit"
                                    style="height: 2em; padding: 1px 1px; margin: 0;"
                                    onclick="subscribe({{ user.pk }}, 'subscribe')">
                                Subscribe <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            </span>
                        <span class="pull-right" id="unsubscribe" style="display: none">
                                <button class="btn btn-default btn-danger" type="submit"
                                        style="height: 2em; padding: 1px 1px; margin: 0;"
                                        onclick="subscribe({{ user.pk }}, 'unsubscribe')">
                                    <span class="glyphicon glyphicon-minus"></span> Cancel subscription
                                </button>
                            </span>
                    {% endif %}
                </div>
            {% endif %}


        </div>

        <div class="entry-tags">
            {% if article.tags.all|length > 0 %}
                <div class="line-tags">
                    Tags:<br class="clear"/>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'search' %}?tags={{ tag.name }}">{{ tag }}&nbsp;</a>
                    {% endfor %}
                    <br class="clear"/>
                </div>
            {% endif %}

            {% if article.regions.all|length > 0 %}
                <div class="line-tags">
                    Region:<br class="clear"/>
                    {% for tag in article.regions.all %}
                        <a href="{% url 'search' %}?regions={{ tag.name }}">{{ tag }}&nbsp;</a>
                    {% endfor %}<br class="clear"/>
                </div>
            {% endif %}
        </div>
    </article>

    <div id="comments" class="row">
        <div id="comments-header">
            {{ comments|length }}&nbsp;Comments
            {% if user.is_authenticated %}
                <a href="#comment-form-new">| Make a comment</a>
            {% endif %}
        </div>

        <ul>
            {% for comment in comments %}
                <li id="comment_{{ comment.id }}">

                    <a href="{{ comment.author.get_absolute_url }}"
                       class="comment-author">{{ comment.author.get_full_name }}</a>&nbsp;
                    <time>{{ comment.pub_date|date:"d F Y" }} in {{ comment.pub_date|date:"H:m" }}</time>
                    <div class="comment-action">
                        <a href="{{ comment.get_absolute_url }}" title="Permalink">#</a>
                        {% if comment.author == user %}
                            <span class="fa fa-pencil" title="Edit"
                                  onclick="show_edit_form({{ comment.id }})"></span>
                            <span class="fa fa-times" title="Delete"
                                  onclick="delete_comment({{ comment.id }})"></span>
                        {% endif %}
                    </div>

                    <div class="action-rating comment-rating">
                        {% if request.user.is_authenticated and comment.author.pk != request.user.pk %}
                            <span id="comment_rating_message_{{ comment.id }}" class="comment-rating-message">
                                You are not authorized.
                                <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to rate comments
                            </span>
                            <i class="fa fa-thumbs-o-up like {% if user in comment.users_liked.all %}choice{% endif %}"
                               onclick="set_comment_rating({{ comment.id }}, 'like')"></i>
                        {% endif %}

                        {% with comment.rating as rating %}
                            <span id="comment_rating_{{ comment.id }}"
                                  class="{% if user in comment.users_liked.all %}top{% elif user in comment.users_disliked.all %}low{% endif %}">
                                    {% if rating > 0 %}+{% endif %}{{ rating }}
                                    </span>
                        {% endwith %}

                        {% if user.is_authenticated and comment.author.pk != user.pk %}
                            <i class="fa fa-thumbs-o-down dislike {% if user in comment.users_disliked.all %}choice{% endif %}"
                               onclick="set_comment_rating({{ comment.id }}, 'dislike')"></i>
                        {% endif %}
                    </div>

                    <div class="comment-content" id="comment-content_{{ comment.id }}">
                        {{ comment.text }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if not comments_last_page %}
            {% with comments|last as last_comment %}
                <div id="comments-load" type="submit" onclick="load_comments({{ last_comment.id }})">Load comments</div>
            {% endwith %}
        {% endif %}

        {% if user.is_authenticated %}
            <div class="row" id="comment-form-new">
                <div class="alert alert-danger alert-dismissable" id="error_message_alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong id="error_message_alert_header">Warning!</strong> <span
                        id="error_message_alert_content"></span>
                </div>
                <h3>Leave a Comment</h3>
                <label for="comment-new-text">Message:</label>
                <textarea id="comment-new-text" class="form-control" cols="30" rows="5"></textarea>
                <input type="submit" id="comment-new-submitButton" class="btn btn-primary btn-my"
                       value="Add comment">
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block sidebar %}
    {% sidebar_related_news %}
{% endblock %}

{% block js %}
    <script src="{% static 'apps/articles/js/comments_article.js' %}"></script>
    <script src="{% static 'apps/articles/js/article.js' %}"></script>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'apps/articles/js/subscribe.js' %}"></script>
    {% endif %}
    <script src="{% static 'apps/gallery/js/blueimp-gallery.js' %}"></script>
    <script src="{% static 'apps/gallery/js/additional-script.js' %}"></script>
{% endblock %}