{% extends 'apps/articles/articles_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block page_title %}Editing article{% endblock %}

{% block css %}
    <link href="{% static 'apps/articles/css/edit_article.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="row">
    <div class="col-md-10">

    <div class="form-horizontal">

    <div class="alert alert-danger alert-dismissable" id="error_message_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong id="error_message_alert_header">Warning!</strong> <span id="error_message_alert_content"></span>
    </div>

    <div class="alert alert-success alert-dismissable" id="message_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong id="message_alert_header">Success!</strong> <span id="message_alert_content"></span>
    </div>

    <fieldset disabled>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article_author">Author</label>

            <div class="col-sm-10">
                <input class="form-control disabled" type="text" id="article_author"
                       value="{{ user.get_full_name }}"/>
            </div>
        </div>
    </fieldset>

    <fieldset disabled>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article_creation_date">Creation date</label>

            <div class="col-sm-10">
                <input type="text" id="article_creation_date" class="form-control"
                       value="{{ article.creation_date|date:'d F, g:i A' }}"/>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_title">Title *</label>

        <div class="col-sm-10">
            <input class="form-control" type="text" id="article_title" value="{{ article.title }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_description">Description *</label>

        <div class="col-sm-10">
            <textarea class="form-control" id="article_description" rows="5">{{ article.thumbnail }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_category">Category *</label>

        <div class="col-sm-10">
            <select class="form-control" id="article_category" name="article_category">
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {% if article.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_tags">Tags</label>

        <div class="col-sm-10">
            <input class="form-control" type="text" name="article_tags" id="article_tags" value="{{ article_tags }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_region">Region</label>

        <div class="col-sm-10">
            <input class="form-control" type="text" name="article_region" id="article_region"
                   value="{{ article_region }}">
        </div>
    </div>

    <form action="" method="post" id="article_image_form">
        {% csrf_token %}
        <input type="hidden" id="article_id" name="article_id" value="{{ article.id }}">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="article_main_image">Main image</label>

            <div class="col-sm-10">
                <input type="file" name="article_main_image" id="article_main_image">

                <input class="btn btn-default btn-sm btn-success btn-my" type="submit" style="margin-top: 5px;" value="Upload">
            </div>
        </div>
    </form>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_important">Important</label>

        <div class="col-sm-10">
            <div class="checkbox">
                <input type="checkbox" id="article_important" {% if article.important %}checked{% endif %}/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_access_mask">Access mask</label>

        <div class="col-sm-10">
            <select class="form-control" id="article_access_mask">
                <option value="VSBL_ALL" {% if article.access_mask == "VSBL_ALL" %}selected{% endif %}>
                    Visible to all
                </option>
                <option value="VSBL_ANN" {% if article.access_mask == "VSBL_ANN" %}selected{% endif %}>
                    Visible only title and description
                </option>
                <option value="VSBL_HED" {% if article.access_mask == "VSBL_HED" %}selected{% endif %}>
                    Visible only title
                </option>
                <option value="VSBL_REG" {% if article.access_mask == "VSBL_REG" %}selected{% endif %}>
                    Visible only for registered user
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="article_state">State</label>

        <div class="col-sm-10">
            <select class="form-control" id="article_state">
                <option value="ACT" {% if article.state == "ACT" %}selected{% endif %} value="active">Active
                </option>
                <option value="INACT" {% if article.state == "INACT" %}selected{% endif %} value="inactive">Inactive
                </option>
                <option value="ARCH" {% if article.state == "ARCH" %}selected{% endif %} value="archive">Archive
                </option>
            </select>
        </div>
    </div>

    <fieldset disabled>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="article_pub_date">Publication date</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="article_pub_date"
                       value="{{ article.pub_date|date:'d F, g:i A' }}">
            </div>
        </div>
    </fieldset>

    <div class="row">
        <label class="col-sm-2 control-label" for="article_pub_date">Content *</label>

        <div class="col-lg-10">
            <div data-target="#editor" data-role="editor-toolbar" class="bt-toolbar">
                <div class="btn-group">
                    <button title="" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                            data-original-title="Font">
                        <i class="fa fa-font"></i><b class="caret"></b></button>
                    <ul class="dropdown-menu">
                        <li><a style="font-family: 'Serif'" data-edit="fontName Serif">Serif</a></li>
                        <li><a style="font-family: 'Sans'" data-edit="fontName Sans">Sans</a></li>
                        <li><a style="font-family: 'Arial'" data-edit="fontName Arial">Arial</a></li>
                        <li><a style="font-family: 'Arial Black'" data-edit="fontName Arial Black">Arial Black</a></li>
                        <li><a style="font-family: 'Courier'" data-edit="fontName Courier">Courier</a></li>
                        <li><a style="font-family: 'Courier New'" data-edit="fontName Courier New">Courier New</a></li>
                        <li><a style="font-family: 'Comic Sans MS'" data-edit="fontName Comic Sans MS">Comic Sans MS</a>
                        </li>
                        <li><a style="font-family: 'Helvetica'" data-edit="fontName Helvetica">Helvetica</a></li>
                        <li><a style="font-family: 'Impact'" data-edit="fontName Impact">Impact</a></li>
                        <li><a style="font-family: 'Lucida Grande'" data-edit="fontName Lucida Grande">Lucida Grande</a>
                        </li>
                        <li><a style="font-family: 'Lucida Sans'" data-edit="fontName Lucida Sans">Lucida Sans</a></li>
                        <li><a style="font-family: 'Tahoma'" data-edit="fontName Tahoma">Tahoma</a></li>
                        <li><a style="font-family: 'Times'" data-edit="fontName Times">Times</a></li>
                        <li><a style="font-family: 'Times New Roman'" data-edit="fontName Times New Roman">Times New
                            Roman</a>
                        </li>
                        <li><a style="font-family: 'Verdana'" data-edit="fontName Verdana">Verdana</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button title="" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                            data-original-title="Font Size">
                        <i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></button>
                    <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button title="" data-edit="bold" class="btn btn-default" data-original-title="Bold (Ctrl/Cmd+B)">
                        <i class="fa fa-bold"></i></button>
                    <button title="" data-edit="italic" class="btn btn-default"
                            data-original-title="Italic (Ctrl/Cmd+I)">
                        <i class="fa fa-italic"></i></button>
                    <button title="" data-edit="strikethrough" class="btn btn-default"
                            data-original-title="Strikethrough">
                        <i class="fa fa-strikethrough"></i></button>
                    <button title="" data-edit="underline" class="btn btn-default"
                            data-original-title="Underline (Ctrl/Cmd+U)">
                        <i class="fa fa-underline"></i></button>
                </div>
                <div class="btn-group">
                    <button title="" data-edit="insertunorderedlist" class="btn btn-default"
                            data-original-title="Bullet list">
                        <i class="fa fa-list-ul"></i></button>
                    <button title="" data-edit="insertorderedlist" class="btn btn-default"
                            data-original-title="Number list">
                        <i class="fa fa-list-ol"></i></button>
                    <button title="" data-edit="outdent" class="btn btn-default"
                            data-original-title="Reduce indent (Shift+Tab)">
                        <i class="fa fa-outdent"></i></button>
                    <button title="" data-edit="indent" class="btn btn-default" data-original-title="Indent (Tab)">
                        <i class="fa fa-indent"></i></button>
                </div>
                <div class="btn-group">
                    <button title="" data-edit="justifyleft" class="btn btn-default btn-info"
                            data-original-title="Align Left (Ctrl/Cmd+L)">
                        <i class="fa fa-align-left"></i></button>
                    <button title="" data-edit="justifycenter" class="btn btn-default"
                            data-original-title="Center (Ctrl/Cmd+E)">
                        <i class="fa fa-align-center"></i></button>
                    <button title="" data-edit="justifyright" class="btn btn-default"
                            data-original-title="Align Right (Ctrl/Cmd+R)">
                        <i class="fa fa-align-right"></i></button>
                    <button title="" data-edit="justifyfull" class="btn btn-default"
                            data-original-title="Justify (Ctrl/Cmd+J)">
                        <i class="fa fa-align-justify"></i></button>
                </div>
                <div class="btn-group">
                    <button title="" data-toggle="dropdown" class="btn btn-default" data-original-title="Hyperlink">
                        <i class="fa fa-link"></i></button>

                    <button title="" data-edit="unlink" class="btn btn-default dropdown-toggle"
                            data-original-title="Remove Hyperlink">
                        <i class="fa fa-cut"></i></button>

                    <div class="dropdown-menu input-append">
                        <input type="text" data-edit="createLink" placeholder="URL" class="col-lg-12">
                        <button type="button" class="btn btn-default">Add</button>
                    </div>

                </div>

                <div class="btn-group">
                    <button id="pictureBtn" title="" class="btn btn-default dropdown-toggle"
                            data-original-title="Insert picture (or just drag &amp; drop)">
                        <i class="fa fa-image"></i></button>
                    <input type="file" data-edit="insertImage" data-target="#pictureBtn" data-role="magic-overlay"
                           style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 39px; height: 30px;">
                </div>
                <div class="btn-group">
                    <button title="" data-edit="undo" class="btn btn-default" data-original-title="Undo (Ctrl/Cmd+Z)">
                        <i class="fa fa-undo"></i></button>
                    <button title="" data-edit="redo" class="btn btn-default" data-original-title="Redo (Ctrl/Cmd+Y)">
                        <i class="fa fa-repeat"></i></button>
                </div>
                <input type="text" x-webkit-speech="" id="voiceBtn" data-edit="inserttext" style="display: none;">
            </div>

            <div id="editor">
                {% if article %}
                    {% autoescape off %}{{ article.full_text }}{% endautoescape %}
                {% else %}
                    Go
                {% endif %}
            </div>

            <div class="form-actions">
                <input class="btn btn-primary btn-my" type="submit" id="saveArticleButton" value="Save"/>
            </div>
        </div>

    </div>

    </div>
    </div>

    <div class="col-md-2">
        <aside class="widget clearfix sidebar">
            <h5 class="short_headline"><span>action</span></h5>
            <ul class="navigation">
                <li>
                    <a {% if article %}target="_blank" href="{{ article.get_absolute_url }}"
                       {% else %}href="#"{% endif %} id="linkToArticle">View article on site</a>
                </li>
                <li>
                    <a href="#deleteModel" data-toggle="modal">Delete article</a>
                </li>
            </ul>
        </aside>
    </div>
    </div>

    <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="delete-model-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModelTitle">Are you ABSOLUTELY sure?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This action <b>CANNOT</b> be undone. This will delete your <b>article</b> and <b>comments</b>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-danger" id="deleteArticleButton">Delete article
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="actionModel" tabindex="-1" role="dialog" aria-labelledby="action-model-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="actionModelTitle">What would you like to do?</h4>
                </div>
                <div class="modal-body">
                    <p id="actionModelMessage">

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="redirectButton">
                        Redirect to main page
                    </button>
                    <button type="button" class="btn btn-default btn-success" id="createArticleButton">
                        Create new article
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'apps/articles/js/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'apps/articles/js/bootstrap-wysiwyg.js' %}"></script>
    <script src="{% static 'apps/articles/js/bootstrap-wysiwyg-init.js' %}"></script>
    <script src="{% static 'apps/articles/js/edit_article.js' %}"></script>
{% endblock %}
