{% extends 'base/base.html' %}

{% load static %}
{% load articles_extras %}

{% block css %}
    <link href="{% static 'apps/articles/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="row">
        {% for article in articles_important_fixed %}
            <div class="col-md-3 article-fixed-item">
                {% if article.main_image %}
                    <div class="article-fixed-image">
                        <a href="{{ article.get_absolute_url }}">
                            <img src="{{ article.main_image.important_fixed_main_image.url }}">
                        </a>
                    </div>
                {% endif %}

                <div class="article-fixed-text">
                    <div class="article-fixed-header"><h3><a href="{{ article.get_absolute_url }}">
                        {{ article.title }}</a></h3>
                    </div>

                    <div>
                        <time>{{ article.pub_date|date:"d-m-Y H:i" }}</time>
                    </div>

                    {% if user.is_authenticated or article.access_mask != 'VSBL_HED' %}
                        <div class="article-fixed-description">
                            {{ article.thumbnail }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row planned-row">
        <div id="col1" class="col-md-4">
            <div>
                <h2 class="short_headline"><span>Important News</span></h2>

                <ul class="article-list">
                    {% for article in articles_important %}
                        <li>
                            <h3>
                                <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                    {% if article.main_image %}
                                        <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                    {% endif %}
                                    {{ article.title }}
                                </a>
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for category in categories_col1 %}
                <div>
                    <h2 class="short_headline"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>

                    <ul class="article-list">
                        {% for article in category.article_set.all %}
                            <li>
                                <h3>
                                    <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                        {% if article.main_image %}
                                            <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                        {% endif %}
                                        {{ article.title }}
                                    </a>
                                </h3>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div id="col2" class="col-md-4">
            <div>
                <h2 class="short_headline"><span>most views</span></h2>

                <ul class="article-list">
                    {% for article in articles_most_views %}
                        <li>
                            <h3>
                                <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                    {% if article.main_image %}
                                        <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                    {% endif %}
                                    {{ article.title }}
                                </a>
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for category in categories_col2 %}
                <div>
                    <h2 class="short_headline"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>

                    <ul class="article-list">
                        {% for article in category.article_set.all %}
                            <li>
                                <h3>
                                    <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                        {% if article.main_image %}
                                            <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                        {% endif %}
                                        {{ article.title }}
                                    </a>
                                </h3>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div id="col3" class="col-md-4">
            <div>
                <h2 class="short_headline"><span>popular</span></h2>

                <ul class="article-list">
                    {% for article in articles_popular %}
                        <li>
                            <h3>
                                <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                    {% if article.main_image %}
                                        <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                    {% endif %}
                                    {{ article.title }}
                                </a>
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for category in categories_col3 %}
                <div>
                    <h2 class="short_headline"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h2>

                    <ul class="article-list">
                        {% for article in category.article_set.all %}
                            <li>
                                <h3>
                                    <a href="{{ article.get_absolute_url }}" title="{{ article.thumbnail }}">
                                        {% if article.main_image %}
                                            <img src="{{ article.main_image.sidebar_main_image.url }}" alt=""/>
                                        {% endif %}
                                        {{ article.title }}
                                    </a>
                                </h3>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

