{% extends 'apps/articles/articles_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block page_title %}Search{% endblock %}

{% block css %}
    <link href="{% static 'apps/articles/css/article_list.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="form-horizontal" style="margin-bottom: 20px">
        <div class="group">
            <form action="" method="get">
                {% for hidden in form.hidden_fiedls %}
                    {{ hidden }}
                {% endfor %}

                {% with form.search as field %}
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                        <div class="col-md-9">
                            <div>
                                {{ field|add_class:'form-control' }}</div>
                        </div>
                    </div>
                {% endwith %}

                <div class="spoiler-wrap">
                    <div class="spoiler-head folded">Additional settings</div>
                    <div class="spoiler-body">
                        <div class="col-md-6">
                            {% with form.tags as field %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label"
                                           for="{{ field.auto_id }}">{{ field.label }}</label>

                                    <div class="col-md-9">
                                        <div>
                                            {{ field|add_class:'form-control' }}</div>
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.regions as field %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label"
                                           for="{{ field.auto_id }}">{{ field.label }}</label>

                                    <div class="col-md-9">
                                        <div>
                                            {{ field|add_class:'form-control' }}</div>
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.category as field %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label"
                                           for="{{ field.auto_id }}">{{ field.label }}</label>

                                    <div class="col-md-9">
                                        <div>
                                            {{ field|add_class:'form-control' }}</div>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label" style="margin: 0; padding: 0;">Search in</label>

                                <div class="col-md-8">
                                    {% for radio in form.search_in %}
                                        <div class="radio" style="padding-top: 0;">
                                            <label>
                                                {{ radio }}
                                                {{ radio.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% with form.order_by as field %}
                                <div class="form-group">
                                    <label class="col-md-2 control-label" style="padding-right: 0;"
                                           for="{{ field.auto_id }}">{{ field.label }}</label>

                                    <div class="col-md-8">
                                        <div>
                                            {{ field|add_class:'form-control' }}</div>
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="regions"></label>

                    <div class="col-md-9">
                        <input class="btn btn-primary btn-my" style="font-size: 14px;float: right;"
                               type="submit" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if news.object_list|length > 0 %}
        <ul class="article-list">
            {% for article in news.object_list %}
                <li>
                    {% if article.main_image %}
                        <div class="article-image">
                            <a href="{{ article.get_absolute_url }}">
                                <img src="{{ article.main_image.preview_image.url }}" class="img-responsive">
                            </a>
                        </div>
                    {% endif %}
                    <div class="article-meta">
                        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>

                        <div>
                            <time>{{ article.pub_date|date:"d-m-Y H:i" }}</time>
                        </div>

                        {% if user.is_authenticated or article.access_mask != 'VSBL_HED' %}
                            <div class="article-description">
                                {{ article.thumbnail }}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No news</h1>
    {% endif %}


{% endblock %}

{% block pages %}
    {% if news.object_list|length > 0 and news.paginator.num_pages > 1 %}
        <div class="pagination">
            <ul>
                {% if pagination.has_prev_button %}
                    <li><a href="{{ path_config.absolute_path_without_page }}&page={{ news.number|add:'-1' }}">Prev</a>
                    </li>
                {% endif %}

                {% for page in pagination.prev_pages %}
                    <li>
                        <a href="{{ path_config.absolute_path_without_page }}&page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                <li class="active"><span>{{ news.number }}</span></li>

                {% for page in pagination.next_pages %}
                    <li>
                        <a href="{{ path_config.absolute_path_without_page }}&page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                {% if pagination.has_next_button %}
                    <li><a href="{{ path_config.absolute_path_without_page }}&page={{ news.number|add:'1' }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.spoiler-body').hide();
            $('.spoiler-head').click(function () {
                $(this).toggleClass("folded").toggleClass("unfolded").next().toggle();
            })
        })
    </script>
{% endblock %}