{% extends 'apps/articles/articles_base.html' %}

{% load static %}

{% block page_title %}Tags{% endblock %}

{% block css %}
    <link href="{% static 'apps/articles/css/full_article.css' %}" rel="stylesheet">
    <link href="{% static 'apps/articles/css/tags.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">Tags</h1>
    <div class="tag-wrapper-footer">
        {% for char, tag_list in tags_conteiner %}
            <div class="tag_block">{{ char }}</div>
            {% for tag in tag_list %}
                <div class="tag">
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                    <span style="color: #999; margin-left: 5px; font-size: 14px;">{{ tag.articles.count }}</span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}