{% extends 'base/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link href="{% static 'apps/profiles/css/bootstrap-progressbar-3.1.1.css' %}" rel="stylesheet">
    <link href="{% static 'apps/gallery/css/blueimp-gallery.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<input type="hidden" id="change_subscr_url" value="{% url 'users:change_subscr' %}">
<div class="container">
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div class="row">
        <div class="col-sm-10"><h1>{{ user.username }}</h1></div>
        {% if user.profile.avatar %}
            <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{ user.profile.avatar.url }}"></a></div>
        {% else %}
            <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                {% if user.first_name or user.last_name %}
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span>{{ user.first_name }} {{ user.last_name }}</li>
                {% endif %}
                {% if user.profile.activity %}
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Occupation</strong></span>{{ user.profile.activity }}</li>
                {% endif %}
                <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>{{ user.date_joined }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last login</strong></span>{{ user.last_login }}</li>
            </ul>
            {% if user.email or user.profile.phone_number or user.skype %}
                <div class="panel panel-default">
                    <div class="panel-heading">Contacts <i class="fa fa-link fa-1x"></i></div>
                    {% if user.email %}
                        <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>E-mail</strong></span><a href="mailto:{{ user.email }}">{{ user.email }}</a></div></li>
                    {% endif %}
                    {% if user.profile.phone_number %}
                         <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>Phone</strong></span><a href="callto://+{{ user.profile.phone_number }}">{{ user.profile.phone_number }}</a></div></li>
                    {% endif %}
                    {% if user.profile.skype %}
                         <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>Skype</strong></span><a href="skype:{{ user.profile.skype }}?call">{{ user.profile.skype }}</a></div></li>
                    {% endif %}
                </div>
            {% endif %}
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Active articles</strong></span>{{ active_articles_count }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>All articles</strong></span>{{ articles_count }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Articles voted</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Subscribed</strong></span><span id="subscribed_count">{{ subscriptions|length }}</span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span>{{ followers|length }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span>{{ comments_count }}</li>
            </ul>
        </div>

        <div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab">
                {% if password_pane %}
                    <li><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
                    <li><a href="#followers" data-toggle="tab">Followers</a></li>
                    <li><a href="#images" data-toggle="tab">Images</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    <li class="active"><a href="#password" data-toggle="tab">Change password</a></li>
                {% elif edit_pane %}
                    <li><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
                    <li><a href="#followers" data-toggle="tab">Followers</a></li>
                    <li><a href="#images" data-toggle="tab">Images</a></li>
                    <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
                    <li><a href="#password" data-toggle="tab">Change password</a></li>
                {% else %}
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
                    <li><a href="#followers" data-toggle="tab">Followers</a></li>
                    <li><a href="#images" data-toggle="tab">Images</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                    <li><a href="#password" data-toggle="tab">Change password</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% if edit_pane or password_pane %}
                <div class="tab-pane" id="home">
                {% else %}
                <div class="tab-pane active" id="home">
                {% endif %}
                    <hr>
                    <h4>Recent Activity</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for action in recent_actions %}
                                    <tr>
                                        <td><span class="pull-right">{{ action.date }}</span>{{ action.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="images">
                    <hr>
                    <h4>Recent Images</h4>
                    <div id="links">
                        {% for image in images %}
                            <a href="{{ image.image_source.url }}" title="{{ image.description }}">
                                <img src="{{ image.admin_thumbnail.url }}" alt="{{ image.title }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="followers">
                    <hr>
                    <h3>You followed by:</h3>
                    <div class="row">
                    {% for author in followers %}
                        <div class="col-md-6 col-md-3">
                            <div class="thumbnail">
                                <a href="{% url 'users:profile_page' author.user__username %}">
                                    {% if author.avatar %}
                                        <img src="/media/{{author.avatar}}" class="img-thumbnail" style="height: 179px">
                                    {% else %}
                                        <img src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=179" class="img-thumbnail">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">{{ author.user__username }}</h3>
                                <p>
                                <div class="btn-group-justified">
                                {% if author in subscriptions %}
                                    <a class="btn btn-danger btn-sm" role="button" id="follow_unsub_{{ author.user__pk }}" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Unsubscribe</a>
                                    <a class="btn btn-success btn-sm" role="button" style="display: none" id="follow_sub_{{ author.user__pk }}" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Subscribe</a>
                                {% else %}
                                    <a class="btn btn-success btn-sm" role="button" id="follow_sub_{{ author.user__pk }}" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Subscribe</a>
                                    <a class="btn btn-danger btn-sm" role="button" style="display: none" id="follow_unsub_{{ author.user__pk }}" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Unsubscribe</a>
                                {% endif %}
                                <a href="{% url 'users:profile_page' author.user__username %}" class="btn btn-info btn-sm" role="button">Profile</a>
                                </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="subscriptions">
                    <hr>
                    <h3>You subscribed to:</h3>
                    <div class="row">
                    {% for author in subscriptions %}
                        <div class="col-md-6 col-md-3" id="subscr{{ author.user__pk }}">
                            <div class="thumbnail">
                                <a href="{% url 'users:profile_page' author.user__username %}">
                                    {% if author.avatar %}
                                        <img src="/media/{{author.avatar}}" class="img-thumbnail" style="height: 179px">
                                    {% else %}
                                        <img src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=179" class="img-thumbnail">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">{{ author.user__username }}</h3>
                                <p>
                                <div class="btn-group-justified">
                                <a class="btn btn-danger btn-sm" type="submit" role="button" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Unsubscribe</a>
                                <a href="{% url 'users:profile_page' author.user__username %}" class="btn btn-info btn-sm" role="button">Profile</a>
                                </div>
                                </p>
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                    {% for author in followers %}
                        {% if author not in subscriptions %}
                            <div class="col-md-6 col-md-3" id="subscr{{ author.user__pk }}" style="display: none">
                                <div class="thumbnail">
                                    <a href="{% url 'users:profile_page' author.user__username %}">
                                        {% if author.avatar %}
                                            <img src="/media/{{author.avatar}}" class="img-thumbnail" style="height: 179px">
                                        {% else %}
                                            <img src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=179" class="img-thumbnail">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">{{ author.user__username }}</h3>
                                    <p>
                                    <div class="btn-group-justified">
                                    <a class="btn btn-danger btn-sm" type="submit" role="button" onclick="change_subscription({{ user.pk }}, {{ author.user__pk }})">Unsubscribe</a>
                                    <a href="{% url 'users:profile_page' author.user__username %}" class="btn btn-info btn-sm" role="button">Profile</a>
                                    </div>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>

                {% if password_pane %}
                    <div class="tab-pane active" id="password">
                {% else %}
                    <div class="tab-pane" id="password">
                {% endif %}

                        <hr>
                        <h3>Change Password:</h3>
                    <form class="form" method="post" action="{% url 'users:dashboard' %}">
                        {% csrf_token %}

                        {% for hidden in password_form.hidden_fiedls %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in password_form.visible_fields %}
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label><h4>{{ field.label }}<span style="color: darkred">{{ field.errors.as_text }}</span></h4></label>
{#                                    {% if field.html_name == 'birth_date' %}#}
{#                                        {{ field|attr:'type:date'|add_class:'form-control' }}#}
{#                                    {% else %}#}
                                        {{ field|add_class:'form-control' }}
{#                                    {% endif %}#}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>

                </div>

                {% if edit_pane %}
                <div class="tab-pane active" id="settings">
                {% else %}
                <div class="tab-pane" id="settings">
                {% endif %}
                    <hr>
                    <h3>Profile fill out:</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuetransitiongoal="{{ percentage_profile }}"></div>
                    </div>
                    <h3>Main information:</h3>
                    <form class="form" method="post" action="{% url 'users:dashboard' %}">
                        {% csrf_token %}

                        {% for hidden in user_form.hidden_fiedls %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in user_form.visible_fields %}
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label><h4>{{ field.label }} <span style="color: darkred">{{ field.errors.as_text }}</span></h4></label>
                                    {{ field|add_class:'form-control' }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="clearfix"></div>
                        <hr>
                        <h3>Additional information:</h3>
                        {% for hidden in profile_form.hidden_fiedls %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in profile_form.visible_fields %}
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label><h4>{{ field.label }}<span style="color: darkred">{{ field.errors.as_text }}</span></h4></label>
                                    {% if field.html_name == 'birth_date' %}
                                        {{ field|attr:'type:date'|add_class:'form-control' }}
                                    {% else %}
                                        {{ field|add_class:'form-control' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>
                    </form>
{#                        <div class="form-group">#}
{#                            <div class="col-xs-6">#}
{#                                <label for="password"><h4>Password</h4></label>#}
{#                                <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <div class="col-xs-6">#}
{#                                <label for="password2"><h4>Verify</h4></label>#}
{#                                <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <div class="col-xs-12">#}
{#                                <br>#}
{#                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>#}
{#                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'apps/profiles/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'apps/profiles/js/bootstrap-progressbar.js' %}"></script>
    <script src="{% static 'apps/profiles/js/subscribe.js' %}"></script>
    <script src="{% static 'apps/gallery/js/blueimp-gallery.js' %}"></script>
    <script src="{% static 'apps/gallery/js/additional-script.js' %}"></script>
    <script>$('.progress .progress-bar').progressbar();</script>
{% endblock js %}

