{% extends 'base/base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'apps/profiles/css/bootstrap-progressbar-3.1.1.css' %}" rel="stylesheet">
    <link href="{% static 'apps/gallery/css/blueimp-gallery.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

{#    <div class="row">#}
{#        <div class="col-sm-10"><h1>{{ user.username }}</h1></div>#}
{#        {% if user.profile.avatar %}#}
{#            <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{ user.profile.avatar.url }}"></a></div>#}
{#        {% else %}#}
{#            <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>#}
{#        {% endif %}#}
{#    </div>#}

      <div class="panel panel-default">
			<div class="panel-body">
              		<div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{ user.username }}</h2>
                            {% if user.first_name or user.last_name %}
                                <p><strong>Real name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
                            {% endif %}
                            <p><strong>Joined since: </strong>{{ user.date_joined }}</p>
                            {% if user.profile.activity %}
                                <p><strong>Occupation: </strong> {{ user.profile.activity }}</p>
                            {% endif %}
{#                            <p><strong>Most used tags: </strong>#}
{#                                <span class="label label-info tags">60's</span>#}
{#                                <span class="label label-info tags">post-hardcore</span>#}
{#                            </p>#}
                          {% if user.pk != logged_user.pk %}
                            {% if user.pk in logged_user.profile.sub_set %}
{#                                <button type="submit" id="unsubscribe" class="btn btn-danger btn" onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'unsubscribe')"><span class="fa fa-plus-circle"></span> Cancel subscription </button>#}
{#                                <button type="submit" id="subscribe" class="btn btn-success btn" style="display: none" onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'subscribe')"><span class="fa fa-plus-circle"></span> Follow </button>#}
                                <button id="subscribe" style="display: none"
                                        class="btn btn-default btn-success" type="submit"
                                        onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'subscribe')">Subscribe <span
                                        class="glyphicon glyphicon-ok"></span></button>
                                <button id="unsubscribe"
                                        class="btn btn-default btn-danger" type="submit"
                                        onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'unsubscribe')">Cancel subscription <span
                                        class="glyphicon glyphicon-minus"></span></button>
                            {% else %}
                                <button id="subscribe"
                                        class="btn btn-default btn-success" type="submit"
                                        onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'subscribe')">Subscribe <span
                                        class="glyphicon glyphicon-ok"></span></button>
                                <button id="unsubscribe" style="display: none"
                                        class="btn btn-default btn-danger" type="submit"
                                        onclick="subscribe({{ user.pk }}, {{ logged_user.pk }}, 'unsubscribe')">Cancel subscription <span
                                        class="glyphicon glyphicon-minus"></span></button>
                            {% endif %}
                        {% endif %}
                        </div>
                        {% if user.profile.avatar %}
                        <div class="col-xs-12 col-sm-4 text-center" style="height: 230px">
                                <img title="profile image" src="{{ user.profile.avatar.url }}" class="center-block img-circle img-responsive">
{#                                <ul class="list-inline ratings text-center" title="Ratings">#}
{#                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>#}
{#                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>#}
{#                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>#}
{#                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>#}
{#                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>#}
{#                                </ul>#}
                        </div>
                        {% else %}
                            <img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=230">
                        {% endif %}

                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ followers|length }}</strong></h2>
                            <p><small>Followers</small></p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ subscriptions|length }}</strong></h2>
                            <p><small>Subscribed</small></p>
{#                            <button class="btn btn-info btn-block" id='hideshow'><span class="fa fa-user"></span> View Profile </button>#}
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ articles_count }}</strong></h2>
                            <p><small>Articles</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ active_articles_count }}</strong></h2>
                            <p><small>Active articles</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ articles_votes }}</strong></h2>
                            <p><small>Articles voted</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ comments_count }}</strong></h2>
                            <p><small>Comments</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <h2><strong>{{ comments_votes }}</strong></h2>
                            <p><small>Comments voted</small></p>
                        </div>
                    </div>
              </div>
          </div>

<div class="profile-wrapper">
    <div class="row">
            {% if user.email or user.profile.phone_number or user.skype %}
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contacts <i class="fa fa-link fa-1x"></i></div>
                        {% if user.email %}
                            <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>E-mail</strong></span><a href="mailto:{{ user.email }}">{{ user.email }}</a></div></li>
                        {% endif %}
                        {% if user.profile.phone_number %}
                             <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>Phone</strong></span><a href="callto://+{{ user.profile.phone_number }}">{{ user.profile.phone_number }}</a></div></li>
                        {% endif %}
                        {% if user.profile.skype %}
                             <li class="list-group-item text-right"><div class="panel-body"><span class="pull-left"><strong>Skype</strong></span><a href="skype:{{ user.profile.skype }}?call">{{ user.profile.skype }}</a></div></li>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-9">
            {% else %}
                <div class="col-sm-12">
            {% endif %}

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#articles" data-toggle="tab">Posted</a></li>
                <li><a href="#comments" data-toggle="tab">Subscriptions</a></li>
                <li><a href="#images" data-toggle="tab">Images</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="articles">
                    <hr>
                    <h4>Recent Articles</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for article in recent_articles %}
                                    <tr>
                                        <td><span class="pull-right">{{ article.pub_date }}</span><a href="{{ article.get_absolute_url}}">{{ article.title }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <h4>Recent Comments</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for comment in recent_comments %}
                                    <tr>
                                        <td><span class="pull-right">{{ comment.pub_date }}</span><a href="{{ comment.get_absolute_url}}">{{ comment.article.title }}</a> - {{ comment }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="comments">
                    <hr>
                    <h3>Followers:</h3>
                    <div class="row">
                    {% for author in followers %}
                        <div class="col-md-6 col-md-3">
                            <div class="thumbnail">
                                <a href="{% url 'users:profile_page' author.user__username %}">
                                    {% if author.avatar %}
                                        <img src="/media/{{author.avatar}}" class="img-thumbnail" style="height: 179px">
                                    {% else %}
                                        <img src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=179" class="img-thumbnail">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">{{ author.user__username }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <hr>
                    <h3>Subscribed:</h3>
                    <div class="row">
                    {% for author in subscriptions %}
                        <div class="col-md-6 col-md-3">
                            <div class="thumbnail">
                                <a href="{% url 'users:profile_page' author.user__username %}">
                                    {% if author.avatar %}
                                        <img src="/media/{{author.avatar}}" class="img-thumbnail" style="height: 179px">
                                    {% else %}
                                        <img src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=179" class="img-thumbnail">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="text-center">{{ author.user__username }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="images">
                    <hr>
                    <h4>Recent Images</h4>
                    <div id="links">
                        {% for image in images %}
                            <a href="{{ image.image_source.url }}" title="{{ image.description }}">
                                <img src="{{ image.admin_thumbnail.url }}" alt="{{ image.title }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'apps/profiles/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'apps/profiles/js/bootstrap-progressbar.js' %}"></script>
    <script src="{% static 'apps/gallery/js/blueimp-gallery.js' %}"></script>
    <script src="{% static 'apps/gallery/js/additional-script.js' %}"></script>
    <script src="{% static 'apps/profiles/js/subscribe.js' %}"></script>
    <script>$('.progress .progress-bar').progressbar();</script>
{% endblock js %}