{% extends 'base/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block page_title %}Registration{% endblock %}

{% block css %}
    <link href="{% static 'apps/profiles/css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="register-box clearfix">
        <h2 class="short_headline"><span>Join Us</span></h2>
        {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form action="{% url 'users:create_user' %}" method="post" class="form-horizontal">
            {% csrf_token %}

            {% for hidden in form.hidden_fiedls %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}

                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="col-sm-2 control-label" for="{{ field.auto_id }}">{{ field.label }}*</label>

                    <div class="col-sm-10">
                        {{ field|add_class:'form-control' }}
                        {% if field.errors %}
                            <label class="control-label" for="inputError1">{{ field.errors.as_text }}</label>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary btn-large btn-my" type="submit" name="register" value="Register"/>
                </div>
            </div>
        </form>

        <footer>Already have an account? <a href="{% url 'login' %}">Sign in</a></footer>
    </div>

{% endblock %}