/*  login page
================================================== */
.login-box {
    width: 70%;
    margin: 0 auto;
    padding-top: 38px;
    color: #758694;
}

#login-form .btn {
    margin: 3% 0;
}

.login-box .float-left,
.login-box .float-right,
.login-box .login-float-right {
    width: 40%;
    padding: 2%;
    margin-left: 30%;
    display: inline-table;
}

/* login box header */
.login-box header {
}

/* login box right side desktop twitter / facebook etc. */
.login-box ul {
    margin: 0 0 20px 0;
    padding: 0;
}

.login-box ul li {
    margin: 0 0 8px 0;
    padding: 0;
    list-style: none;
}

.login-box ul a img {
    /* latest FF messing up border image removed it*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.login-box ul a img:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.login-box .float-left,
.login-box .float-right,
.login-box .login-float-right {
    width: 100%;
    padding: 3% 0;
    float: none;
}

/*  form
================================================== */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin footer {
    margin-top: 15px;
}

.form-signin footer a {
    display: block;
    color: #576674;
    outline-color: #576674;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 15px;
    text-decoration: underline;
}

.form-signin footer a:hover {
    color: #53A3B7;
    text-decoration: none;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}