/*  forgot password hidden div on login page
================================================== */

.register-box {
    width: 70%;
    margin: 0 auto;
    padding-top: 38px;
}

.register-box footer {
    width: 100%;
    white-space: nowrap;
    margin-top: 50px;
    color: #576674;
}

.register-box footer a {
    display: inline;
}

.register-box a {
    display: block;
    color: #576674;
    outline-color: #576674;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    text-decoration: underline;
}

.register-box a:hover {
    color: #53A3B7;
    text-decoration: none;
}