/* filter
================================================== */
.filter {
    margin-top: 10px;
}

.sort {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background: none;
    top: auto;
    width: auto;
    border: none;
}

.sort-time {
    float: right;
    position: relative;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background: none;
    top: auto;
    width: auto;
    border: none;
}

.filter li {
    padding: 0 10px 0 0;
    margin: 0;
    display: inline;
    position: relative;
}

.filter li a {
    padding: 0;
    text-decoration: none;
    color: #000;
    line-height: normal;
}

.filter li:after {
    content: "\00b7";
    padding-left: 10px;
    color: #777;
}

.filter li:last-child,
.filter li:last-child:after {
    content: ""
}

.filter li a:hover,
.filter li a.active {
    color: #53a3b7;
    background: none;
}

.filter li a:focus {
    outline: none;
}

/* article list
================================================== */
.article-list {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.article-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.article-image {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    padding: 0;
    vertical-align: top;
}

.article-meta {
    display: inline-block;
    width: 80%;
}

.article-meta h3 {
    font-size: 1.3em;
    margin: 0 0 3px;
    padding: 0;
}

.article-meta h3 a,
.article-meta h3 a:link {
    color: #758694;
}

.article-meta h3 a:visited {
    color: #b2b2b2;
}

.article-meta time {
    color: #858f97;
    font-size: 0.9em;
    line-height: 15px;
    margin: 1px 0 3px;
}

.article-description {
    font-size: 1em;
    color: #222; /*#414c56*/
}