/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.bt-toolbar {
    margin-bottom: 7px;
}

.form-actions {
    margin-top: 5px;
}

#editor {
    max-height: 500px;
    height: 500px;
    background-color: #EEEEEE;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}

#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu button {
    cursor: pointer;
}

.modal-header {
    background: #F5F5F5;
    border-radius: 6px 6px 0 0;
}

.modal-title {
    color: #758694;
    font-size: 1.4em;
}

.modal-body {
    color: #576674;
    font-size: 1.1em;
}

.modal-footer {
    background: #F5F5F5;
    border-radius: 0 0 6px 6px;
}
