/*  article
================================================== */
article header {
    background: url("../../../base/images/hr.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    padding-bottom: 10px;
    margin-bottom: 3%;
}

article header h1 {
    color: #758694;
    font-size: 33px;
    margin-bottom: 2%;
}

article header a {
    white-space: nowrap;
}

article header .article-info,
article header .article-info a {
    line-height: 1.8;
    color: #576674;
    font-size: 1.3rem;
}

article header a:hover {
    color: #53a3b7;
    text-decoration: none;
    outline: none;
}

article header a:focus {
    text-decoration: none;
    outline: none;
}

article .content {
    color: #414C56;
    font-size: 15px;
}

/*  tags
================================================== */
.entry-tags {
    background: url("../../../base/images/hr.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 10px;
    color: #576674;
    font-size: 15px;
}

.line-tags {
    margin-bottom: 5px;
}

/* article meta
================================================= */
.entry-meta {
    background: url("../../../base/images/hr.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 2%;
    padding: 10px 0 10px;
    color: #576674;
    font-size: 15px;
}

.line-item {
    display: inline-block;
    margin-left: 15px;
}

/*  comments
================================================== */
#comments {
    background: url("../../../base/images/comment-backgound.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 15px 0 0;
    padding: 2% 3%;
    color: #758694;
}

/* header */
#comments-header {
    margin-top: 0;
    margin-bottom: 2%;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

#comments-header a {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: none;
}

#comments-header a:hover,
#comments-header a:focus {
    outline: none;
    color: #0290b3;
}

/* comment list */
#comments ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#comments ul li {
    background: url("../../../base/images/hr.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    margin: 0 0 7px;
    padding: 10px 0;
}

#comments ul li time {
    font-size: 1.2rem;
}

/* comment info */
.comment-author {
    color: #576674;
    font-weight: 700;
    font-size: 16px;
}

.comment-action {
    color: #758694;
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.comment-action a {
    color: #758694;
}

.comment-action span {
    font-size: 12px;
}

.comment-action a:hover,
.comment-action span:hover {
    color: #0290b3;
    text-decoration: none;
}

.comment-rating {
    display: inline-block;
    float: right;
}

.comment-rating-message {
    margin-right: 5px;
    margin-left: 10px;
    display: none;
}

.comment-rating-message a:hover {
    text-decoration: underline;
}

/* comment content */
.comment-content {
    padding-top: 10px;
    line-height: 1.5;
}

/* comment form */
#comment-form-new {
    margin: 20px 0 0;
    padding-right: 3%;
}

#comment-form-new label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 500;
    color: #576674;
}

#comments textarea {
    display: block;
    width: 100%;
    resize: vertical;
    margin-bottom: 15px;
}

#comments .btn {
    font-size: 14px;
}

/* comment edit form */
#comment-edit-form {
    margin-top: 10px;
}

#comment-edit-submit {
    margin-right: 5px;
    /*background-color: #4C5966;*/
}

#comment-edit-text {
    display: block;
    width: 500px;
    margin-bottom: 5px;
}

/* loader*/
#comments-load {
    background-color: #eef2f6;
    border: 0;
    color: #c0d1f0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

#comments-load:hover {
    background-color: #E9EDF1;
    color: #377abd;
}

.preloader {
    background: url('../imgs/preloader.gif') no-repeat center;
    height: 22px;
}

/*  rating
================================================== */
.action-rating {
    display: inline-block;
}

.action-rating span,
.action-rating span:focus,
.action-rating span:hover {
    font-size: 1em;
    font-weight: 600;
    color: #758694;
    cursor: default;
}

.action-rating span.top {
    color: #339900;
}

.action-rating span.low {
    color: #dd1212;
}

.action-rating i {
    cursor: pointer;
}

.action-rating i.like:hover,
.action-rating i.like.choice {
    color: #339900;
}

.action-rating i.dislike:hover,
.action-rating i.dislike.choice {
    color: #dd1212;
}

/*  share
================================================== */
.share-button {
    display: inline-block;
}

/*
.share-button span span a span {
    width: 14px !important;
    height: 14px !important;
    line-height: 14px !important;
}*/

/*  edit link
================================================== */
.edit_article,
.edit_article span {
    color: #eee;
    font-size: 0.8em;
}

.edit_article:hover,
.edit_article:active,
.edit_article:focus {
    color: #cccccc;
    text-decoration: none;
}
