/*  fixed important articles
================================================== */
.article-fixed-item {
    display: inline-block;
    vertical-align: top;
}

.article-fixed-image {
    height: 130px;
    margin: 0px 0 10px;
    padding: 0;
}

.article-fixed-text {
    margin: 0;
    padding: 0;
}

.article-fixed-text .article-fixed-header h3 {
    font-size: 1.2em;
    margin: 0 0 2px;
}

.article-fixed-text .article-fixed-header h3 a,
.article-fixed-text .article-fixed-header h3 a:link {
    color: #758694;
}

.article-fixed-text .article-fixed-header h3 a:visited {
    /*color: #b2b2b2;*/

}

.article-fixed-text time {
    color: #858f97;
    font-size: 0.8em;
    margin: 0;
}

.article-fixed-text .article-fixed-description {
    font-size: 0.8em;
    margin-top: 5px;
    color: #222; /*#414c56*/
}

/*  row with important, popular and best articles
================================================== */
.planned-row {
    margin-top: 20px;
}

.planned-row h2 {
    font-size: 1.2em;
}

.article-list {
    padding-left: 0;
    margin: 20px 0 0;
    list-style: none;
}

.article-list li {
    float: none;
    margin-bottom: 15px;
    color: #576674;
    vertical-align: top;
    overflow: hidden;
}

.article-list li h3 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.article-list li h3 a,
.article-list li h3 a:link {
    color: #758694;
}

.article-list li h3 a:visited {
    color: #b2b2b2;
}

.article-list li h3 a img {
    float: left;
    height: 60px;
    margin: 0 7px 1px 0;
    padding: 0;
}

.article-list li:hover {
    text-decoration: underline;
}