@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,400italic,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);

/* reset
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

body,
p,
a,
span,
input,
button {
    font-family: "Source Sans Pro", sans-serif;
}

/* main
================================================== */

.navbar {
    background: #4C5966;
    border: 0;
    border-radius: 0;
}

.btn-my {
    background: #53A3B7 !important;
    border: 0;
    font-size: 1.2em;
}

.btn-my:hover {
    background: #2B778A !important;
    border-color: transparent;
}

.control-label {
    color: #576674;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

/* common
================================================== */

.article-sidebar {
    float: none;
    color: #576674;
    vertical-align: top;
    margin-top: 10px;
    overflow: hidden;
}

.article-sidebar a {
    float: left;
    margin-right: 5px;
}

.article-sidebar a img {
    float: left;
    margin-right: 5px;
}

.article-sidebar:hover {
    text-decoration: underline;
}

.short_headline {
    border-bottom: 1px solid #d8dfe5;
    margin: 0 0 1em 0;
    text-transform: lowercase;
    padding-bottom: 9px;
    line-height: normal;
    color: #758694;
}

.short_headline span,
.short_headline a {
    color: #758694;
    border-bottom: 5px solid #d8dfe5;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

.short_headline a:hover {
    color: #53a3b7;
    text-decoration: none;
}

aside {
    margin-bottom: 20px;
}

aside .short_headline {
    font-size: 1.2em;
}

/* preheader
================================================== */

.container.preheader {
    right: -10px;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
}

.container.preheader form {
    margin: 0;
    padding: 0;
    height: 30px;
}

body.login nav.user {
    display: none !important;
}

nav.user {
    float: left;
    line-height: 43px;
    min-width: 200px;
}

nav.user a {
    text-decoration: none;
    float: left;
    padding: 0 5px;
    margin-right: 5px;
    color: #758694;
}

nav.user a:hover {
    color: #53a3b7;
}

body.tall-logo nav.user {
    margin-left: 180px;
}

/* footer
================================================== */

#footer {
    clear: both;
    background: #4c5966;
    border-top: 3px solid #6d767e;
    margin-top: 50px;
    padding: 2% 0 0 0;
}

#footer a {
    color: #9bd9e9;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer h4 {
    margin-bottom: 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #6d767e;
}

#footer p,
#footer h4,
#footer ul {
    color: #d8dfe5;
}

#footer .row-fluid {
    margin-bottom: 2%;
}

#footer section {
    padding: 0 0 15px 0;
}

/*social icons list on a row in footer */
.social {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -7px;
    *left: -3px;
}

.social li {
    display: inline-block;
    padding: 0 7px 0 7px;
    *padding: 0 3px;
    *display: inline;
    *zoom: 1;
}

.social li a:hover {
    opacity: .5;
}

.social a {
    display: inline-block;
}

/*	image widget in footer and sidebar
================================================== */
ul.image-widget {
    position: relative;
    left: -5px;
    margin: 0;
    padding: 0;
}

.image-widget li {
    float: left;
    margin: 0 5px 10px 5px;
    width: 50px;
    height: 50px;
    list-style: none;
}

/*sidebar image widget */
.widget .image-widget li {
    width: 45px;
    height: 45px;
}

/*	footer blog posts
================================================== */
.footerPosts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerPosts li {
    padding: 5px 0;
}

.footerPosts li:first-child {
    padding-top: 0;
}

.footerPosts .last,
.footerPosts li:last-child {
    border: none;
}

.footerPosts .meta {
    text-transform: uppercase;
    color: #a3b0bb;
    display: block;
    font-size: 70%;
}

/*	footer credit
================================================== */
#footer .footerCredits {
    padding: 0;
    clear: both;
    text-align: right;
    position: relative; /*ie fix*/
    background: #576674;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
}

#footer .footerCredits ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: relative;
    left: -10px;
}

#footer .footerCredits li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #a3b0bb;
}

#footer .footerCredits li:last-child,
#footer .footerCredits .last {
    border: none;
}

#footer .footerCredits li:first-child {
    padding-left: 0;
}

#footer .footerCredits {
    padding: 10px;
    font-size: 70%;
}

#footer .footerCredits a,
#footer .footerCredits li {
    text-decoration: none;
    color: #d8dfe5;
    margin: 0;
    text-transform: uppercase;
}

#footer .footerCredits a:hover {
    color: #fff;
}

/* tags */
.tag-wrapper a, .entry-tags .line-tags a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    display: block;
    text-decoration: none;
    background: #d8dfe5;
    padding: 0 8px;
    margin: 0 3px 3px 0;
    color: #758694;
    font-size: 85%;
}

.tag-wrapper-footer a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    display: block;
    text-decoration: none;
    background: #576674;
    padding: 0 8px;
    margin: 0 3px 3px 0;
    color: #758694;
    font-size: 85%;
}

.sidebar-tabs .tag-wrapper a:hover, .entry-tags a:hover {
    background: #53a3b7;
    color: #fff;
}

/* image widget in footer and sidebar */
ul.image-widget {
    position: relative;
    left: -5px;
    margin: 0;
    padding: 0;
}

.image-widget li {
    float: left;
    margin: 0 5px 10px 5px;
    width: 50px;
    height: 50px;
    list-style: none;
}

/*sidebar image widget */
.widget .image-widget li {
    width: 45px;
    height: 45px;
}

/*search*/
.search input {
    border-radius: 4px 0 0 4px;
}

.search input {
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
}

.search input[type="text"] {
    width: 48.7179%;
    margin: 0;
    padding: 4px 6px;
    background-color: #FFFFFF;
    border: 1px solid #C7CFD6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.search input[type="text"]:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.search button {
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
    padding: 2px 12px;
    background-color: #FFFFFF;
    border: 1px solid #53A3B7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    vertical-align: middle;
}

.pre-header-search-form {
    float: right;
    line-height: 43px;
    vertical-align: bottom;
}

.pre-header-search-form form input[type=text] {
    width: 170px;
    height: 95%;
    display: inline;
}

.pre-header-search-button {
    background: url("../images/search.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    color: #333;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    margin: 5px 0 0 3px;
    padding: 0;
    width: 30px;
}

.group {
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ddd;
    padding: 35px 0 15px;
    position: relative;
}

.group:after {
    color: #bbb;
    content: 'Search settings';
    font-size: 14px;
    font-weight: 700;
    left: 15px;
    top: 5px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
}

.spoiler-head {
    margin-left: 40px;
    font-size: 16px;
    color: #bbb;
    text-decoration: none;
}

.spoiler-head:hover {
    cursor: pointer;
    text-decoration: underline;
}

.spoiler-body {
    margin-top: 10px;
}