.sidebar ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.article-sidebar {
    float: none;
    color: #576674;
    vertical-align: top;
    margin-top: 10px;
    overflow: hidden;
}

.article-sidebar h3 {
    font-size: 1em;
    margin: 0 0 3px;
    padding: 0;
}

.article-sidebar h3 a,
.article-sidebar h3 a:link {
    color: #758694;
}

.article-sidebar h3 a:visited {
    color: #b2b2b2;
}

.article-sidebar h3 a img {
    float: left;
    margin-right: 5px;
}

.article-sidebar:hover {
    text-decoration: underline;
}

/****** sidebar and blog related posts navigation (in related posts area) ******/
ul.navigation {
    margin-left: 0;
    padding-left: 0;
}

ul.navigation li {
    margin-left: 0;
    padding: 3px 0 3px 13px;
    list-style: none;
    display: block;
    background: url(../images/sidebar-list-icon.png) 0 9px no-repeat;
}

ul.navigation li a {
    text-decoration: none;
    display: block;
    color: #576674;
}

ul.navigation li.active a,
ul.navigation a:hover {
    color: #53a3b7;
}

ul.navigation li.active a:before,
ul.navigation li:hover a:before {
    color: #53a3b7;
}

ul.navigation ul {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 90%;
}